{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add Movie{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8">

            <h1>Add a Movie</h1>
            <div class="flash">
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}

            </div>
            <!-- Bootstrap-Flask Generated Form -->
            <div class="row">
                <div class="col-8">
                    {{ render_form(form, novalidate=True) }}
                </div>
            </div>
            <p class="space-above"><a href="{{ url_for('add_from') }}">Add Movie from MovieDB</a></p>
            <p class="space-above"><a href="{{ url_for('home') }}">See All Movies</a></p>

        </div>
    </div>
</div>
{% endblock %}


